select{
    width: 380px;
    height: 25px;
}
textarea{
    width: 410px;
}
button{
    width: 415px;
    height: 30px;
    background-color: rgb(8, 242, 125);
    font-size: 20px;
    font-weight: bold;
}
.form{
    background-color: rgb(237, 241, 245);
    margin-left: auto;
    margin-right: auto;
    border: 5px outset gray;
    padding: 20px;
    margin-right: 17px;
}
.hole{
    background-image:url(https://img.lovepik.com/background/20211028/medium/lovepik-ui-color-matching-green-gradient-background-image_605006609.jpg);
    border: 1px solid black;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 3px;
    margin-right: 1000px;
    justify-content: center;
    

}
h1{
    font-weight:bolder;
    margin-left: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
body{
    background-color: red;
}

.center1{
    display: flex ;
    align-items: center;
    justify-content: center;
}