*{
    margin: 0;
    padding: 0;
}
.main{
    background-color: rgb(234, 242, 255);
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;
    font-style: italic;
    font-size: 30px;
    margin-bottom: 30px;
}
.navbar{
    font-family: system-ui;
    font-weight: bolder;
    display: flex;
    gap: 100px;
    justify-content:center;
    margin-top: 30px;
}
a:link{
    text-decoration: none;
}
a:hover{
    font-size: 20px;
    color:black;
}
.first{
    margin-top: 30px;
    background-image: url(resturant.jpg);
    filter: brightness(30%);
    height: 75vh;
    width: 100%;
    background-size:1550px 700px;
    background-repeat:no-repeat;
    position: relative;
    
    
}
.font1{
    color: white;
    text-align: center;
    padding-top: 130px;
    position: absolute;
    top: 200px;
    left: 400px;

}
#asian{
    font-size: 70px;
    margin-top: 30px;
}
#para1{
    margin-top: 30px;
    font-size: 18px;
}
#ordernow{
    height: 50px;
    width: 170px;
    background-color: rgb(255, 99, 71);
    color: white;
    font-weight: bolder;
    border: 0px solid;
    margin-top: 30px;
    border-radius: 5px;
}
.order{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
#delecious{
    height: 350px;
    width: 450px;
    text-align: center;
    background-color: rgb(255, 99, 71);
    padding-top: 50px;
    color: white;
    font-weight: bolder;

}
#number{
    height: 100px;
    width: 350px;
    background-color: rgb(248, 131, 121);
    margin-left: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 30px;
    line-height: 50px;
    font-family: system-ui;
    font-weight: lighter;
}
#or{
    background-color: rgb(243, 26, 6) ;
    height: 35px;
    width: 50px;
    padding-top: 12px;
    margin-top: 20px;
    margin-left: 200px;
    border-radius: 50%;
    border: 1px solid blue;
}
.orderbutton{
    height: 50px;
    width: 200px;
    font-family: system-ui;
    font-weight: bolder;
    color:rgb(255, 99, 71) ;
    font-size: 15px;
    border:0px solid;
    border-radius: 4px;
    margin-top: 20px;
}
.foodmenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
    
}
#img1{
    border-radius: 50%;
    border: 8px solid rgb(194, 208, 222);
}
#img1font{
    padding-top: 20px;
    font-size: 30px;
    font-family: system-ui;
}
.reservationphoto{
    background-image: url(reserved-table-restaurant.jpg);
    height: 85vh;
    width: 100%;
    background-size: 1520px 800px;
    background-repeat: no-repeat;
    margin-top: 80px;
    filter: brightness(20%);
    text-align: center;
}
.reservation{
    position: relative;
}
.reservationfont{
    position: absolute;
    top: 50px;
    left: 550px;
    font-size: 25px;
    color:white;
}
.reservationtable{
    display: flex;
    position: absolute;
    top: 180px;
    left: 310px;
}
.bookingtable{
    height: 350px;
    width: 450px;
    background-color: white;
    text-align: center;
    
}
#reservationheading{
    font-size: 40px;
    font-family: serif;
    margin-top: 30px;
}
#date{
    height: 40px;
    width: 150px;
    padding-left: 20px;
    font-weight: bolder;
    border: 1px solid  rgb(233, 231, 231);
}
#time{
    height: 40px;
    width: 150px;
    font-weight: bolder;
    border: 1px solid  rgb(233, 231, 231);
    
    padding-left: 20px;
}
#rfirst{
    margin-top: 30px;
}
#fullname{
    height: 40px;
    width: 169px;
    margin-left:px;
    font-weight: bolder;
    border: 1px solid  rgb(233, 231, 231);
}
#phonenumber{
    height: 40px;
    width: 169px;
    margin-left:0px ;
    font-weight: bolder;
    border: 1px solid rgb(233, 231, 231);
}
#rsecond{
    margin-top: 30px;
}
#NumberOfPerson{
    height: 40px;
    width: 169px;
    margin-left: 0px;
    font-weight: bolder;
    border: 1px solid  rgb(233, 231, 231);
    
}
#booktable{
    height: 40px;
    width: 173px;
    background-color:rgb(255, 99, 71) ;
    font-weight: bolder;
    color: white;
    border: 0px solid;
    border-radius: 4px;
}
#rthird{
    margin-top: 30px;
    
}
.application{
    width: 100%;
    height: 220px;
    text-align: center;
    background-color: rgb(255, 99, 71);
    padding-top: 50px;
}
#phoneapplication{
    font-family: system-ui;
    font-size: 50px;
    color: white;
    padding-top: 10px;
}
#downloadnow{
    height: 50px;
    width: 200px;
    font-weight: bolder;
    border: 0px;
    border-radius: 4px;
    color: rgb(255, 99, 71);
    font-size: 15px;
    margin-top: 30px;
}
.weeklyfoods{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 50px;

}
#weeklyfeaturedfoodheading{
    text-align: center;
    margin-top:100px;
    font-size: 40px;
}
#weeklybreakfast1{
    padding-top: 20px;
}
#weeklybreakfastheading{
    padding-top: 20px;
    font-size: 30px;
    padding-bottom: 20px;
}
.weeklybreakfast{
    background-color: rgb(234, 242, 255);
    width: 330px;
    height: 440px;
    padding-left: 25px;
    padding-right: 25px;
    position: relative;
    margin-top: 60px;
}
#weeklybreakfast1amount{
    background-color: white;
    color: rgb(255, 99, 71);
    font-size: 25px;
    position: absolute;
    top: 268px;
    left: 299px;
    opacity: 0.8;
}
.weeklybreakfastdiscription{
    background-color: white;
    width: 330px;
    height: 110px;
    margin-top: -10px;
    padding-top: 20px;
}
#weeklybreakfastp{
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 10px;
   
}

#weeklybreakfastname{
    font-size: 25px;
    padding-left: 10px;
}

#weeklylunch1{
    padding-top: 20px;
}
#weeklylunchheading{
    padding-top: 20px;
    font-size: 30px;
    padding-bottom: 20px;
}
.weeklylunch{
    background-color:  rgb(234, 242, 255);
    width: 330px;
    height: 440px;
    padding-left: 25px;
    padding-right: 25px;
    position: relative;
    margin-top: 60px;
}
#weeklylunch1amount{
    background-color: white;
    color: rgb(255, 99, 71);
    font-size: 25px;
    position: absolute;
    top: 268px;
    left: 299px;
    opacity: 0.8;
}
.weeklylunchdiscription{
    background-color: white;
    width: 330px;
    height: 110px;
    margin-top: -10px;
    padding-top: 20px;
}
#weeklylunchp{
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 10px;
   
}

#weeklylunchname{
    font-size: 25px;
    padding-left: 10px;
}
#weeklydinner1{
    padding-top: 20px;
}
#weeklydinnerheading{
    padding-top: 20px;
    font-size: 30px;
    padding-bottom: 20px;
}
.weeklydinner{
    background-color:  rgb(234, 242, 255);
    width: 330px;
    height: 440px;
    padding-left: 25px;
    padding-right: 25px;
    position: relative;
    margin-top: 60px;
}
#weeklydinner1amount{
    background-color: white;
    color: rgb(255, 99, 71);
    font-size: 25px;
    position: absolute;
    top: 268px;
    left: 287px;
    opacity: 0.8;
}
.weeklydinnerdiscription{
    background-color: white;
    width: 330px;
    height: 110px;
    margin-top: -10px;
    padding-top: 20px;
}
#weeklydinnerp{
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 10px;
   
}

#weeklydinnername{
    font-size: 25px;
    padding-left: 10px;
}
.ourblogpost{
    background-color:  rgb(234, 242, 255);
    margin-top: 80px;
    padding-bottom: 100px;
}
#blogfirst{
    display: flex;
}
.blogdiscripion{
    height: 270px;
    width: 300px;
    background-color: white;
}
#h{
    font-size: 23px;
    font-family: system-ui;
    padding-left: 5px;
    padding-top: 30px;
}
#c{
    padding-left: 5px;
    padding-top: 20px;
    font-weight: bolder;
    font-family: system-ui;
}
#d{
    padding-left: 5px;
    padding-top: 20px;
    line-height: 20px;
    font-weight:500;
    font-family: system-ui;
    color: gray;
}
.link{
    font-size:18px;
    font-family: system-ui;
    font-weight: bolder; 
    color:rgb(255, 99, 71) ;
    padding-left: 5px;
    padding-top: 20px;
}
.blogphoto{
    position: relative;
}
#blogdate{
position: absolute;
background-color: white;
width: 100px;
height: 30px;
padding-top: 10px;
padding-left: 5px;
font-size: 15px;
font-weight: bolder;
font-family: system-ui;
color:rgb(255, 99, 71) ;
    
}

.blogfirstrow{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
}
.blogsecondrow{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
}
#ourblogpostheading{
    text-align: center;
    font-family: system-ui;
    padding-top: 50px;
}
#imgnewsletters{
    height: 400px;
    width: 100%;
    background-size: 1530px 450px;
    background-repeat: no-repeat;
    filter: brightness(30%);
    
}
.newsletters{
    position: relative;
}
#newsletterheading{
    color: white;
    font-family: system-ui;
    position: absolute;
    top: 80px;
    left: 390px;
    font-size: 50px;
}
#email{
    position: absolute;
    top:230px;
    left: 350px;
    height: 50px;
    width: 600px;
    font-size: 20px;
    padding-left: 20px;
    font-weight: bolder;
    border-radius: 8px;
    border: 0px solid;
    opacity: 0.70;
}
#sendmessage{
    position: absolute;
    top:230px;
    left: 1000px;
    height: 50px;
    width: 200px;
    border-radius: 8px;
    border: 5px solid white;
    background-image: url(newsletters.jpg);
    

}
#sendmessagefont{
    font-size: 20px;
    font-weight: bolder;
    color:white;
}
.end{
    background-color: rgb(34, 46, 71);
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
    padding-bottom: 100px;
}
#copyright{
    color: white;
    font-family: system-ui;
    font-weight: bolder;
    font-size: 20px;

}
.designed{
    color: white;
    font-family: system-ui;
    font-weight: bolder;
    font-size: 20px;
    display:flex;
}
#rithwik{
    padding-left: 5px;
    color: red;
}


